.main-container {
  flex: 1 1 0%;
  padding-top: 3rem;
  padding-bottom: auto;
}
.data-container {
  flex: 1 1 0%;
  flex-direction: row;
  width: 50%;
  height: 500px;
  justify-content: center;
  padding: 16px;
  margin: 0px;
  text-align: left;
}
.label-container {
  flex-direction: column;
  width: 50%;
  font-size: x-large;
  text-align: right;
}
.metric-container {
  font-size: xx-large;
  font-weight: bold;
}
.button-container {
  display: flex;
  align-content: center;
}
@media screen and (max-width: 810px) {
  .label-container {
    width: 50%;
    font-size: medium;
    text-align: left;
  }
  .metric-container {
    font-size: large;
    font-weight: bold;
    text-align: center;
  }
  .main-container {
    padding-left: 10%;
  }
}
@media screen and (min-width: 810px) {
  .btn {
    height: 100%;
  }
}
.search-input {
  margin: 10px;
}
.quality-bar {
  background: linear-gradient(
    0.25turn,
    green,
    yellow,
    orange,
    red,
    purple,
    crimson
  );
  width: 30%;
  height: 5%;
  padding: auto;
  margin: auto;
  border-radius: 5px;
}
